/*node style*/
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
@media (max-width: 768px) {
    #svg {
        display: none;
    } 
    #mobile-metrix {
        display: block;
    }   
}
@media (min-width: 769px) {
    #svg {
        display: block;
    } 
    #mobile-metrix {
        display: none;
    }     
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

body {
    padding-top: 60px;
}

p, a, li {
    font-size: 16px;
}

#metricsList {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

h1 {
    color: #324E77;
    font-weight: normal;
}

@media (max-width: 768px) {
    .section-padding {
        padding: 0 15px;
    }    
}
@media (min-width: 769px) {
    .section-padding {
        padding: 0 45px;
    }    
}

.row {
    margin: 0;
}
.references li {
    margin-bottom: 10px;
}
.references .col-sm-6:first-child {
    padding-left: 0;
}
.references a {
    color: #324E77;
}
.word-break {
    word-break: break-all;
}
@media (max-width: 768px) {
   .references .col-sm-6:first-child {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
   .references .col-sm-6:first-child {
        padding-right: 0;
    }
}
@media (min-width: 769px) {
   .references .col-sm-6:first-child {
        padding-right: 30px;
    }
}
.references .col-sm-6:last-child {
    padding-right: 0;
}
@media (max-width: 768px) {
   .references .col-sm-6:last-child {
        padding-left: 0;
    }
}
@media (min-width: 769px) {
   .references .col-sm-6:last-child {
        padding-left: 30px;
    }
}

.navbar .container {
    margin: 0;
    padding: 0 30px;
    width: 100%;
    box-shadow: 0px 3px 8px rgba(0,0,0,.1);
}
@media (max-width: 768px) {
    .nav li {
        width: auto;
        display: inline-block;
    }
}

/**************************
  mobile metrix carousel
**************************/
#mobile-metrix .carousel-control {
    background-image: none;
    width: auto;
    font-size: 16px;
}
#mobile-metrix .glyphicon {
    color: #324E77;
    top: 38px;
}
#mobile-metrix .glyphicon-chevron-left {
    margin-left: 15px;
}
#mobile-metrix .glyphicon-chevron-right {
    margin-right: 15px;
}
#mobile-metrix .item {
    padding: 15px;
}
#mobile-metrix .item .title {
    text-align: center;
    margin: 0 -15px 20px;
    padding: 10px 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
#mobile-metrix .item ul.sub-list {
    list-style-type: circle;
    margin-left: 18px;
}
#mobile-metrix .item ul.undersub-list {
    list-style-type: square;
    margin-left: 18px;
}

